*{
    padding: 0;
    margin: 0;
}

.container{
    background-color: brown;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.cont1{
    background-color: aquamarine;
}

.cont2{
    background-color: rgb(68, 96, 86);
}
.division{
    border: 2px solid orange;
    width: 20vh;
    height: 20vh;
    border-radius: 10px;
}
.blogs{
    display: flex;
    padding: 20px;
    gap: 20px;
}






