*{
    padding: 0;
    margin: 0;
}

body{
    background-color: brown;
}

.navigation{
    background-color: grey;
    display: flex;
}
.box1{
    width: 10%;
    background-color: blue;
}
.box2{
    width: 90%;
    background-color: rgb(129, 74, 74);
}
ul{
display: flex;
justify-content:center;
list-style: none;
display: flex;
}
li{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

